div{
    display: flex;
    justify-content: right;
}

input{
    width: 400px;
    display: block;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
button{
    margin-top: 30px;
    background: #dfe1e5;
    color:black;
    font-size: 15px;
    border: 4px solid #dfe1e5;
    border-radius: 2px;

}