.red {
    background-color: red;
    height: 100px;
}
.white{ 
    background-color: aliceblue;
    height: 100px;
}
 .black{
    background-color: black;
    height: 100px;
}

/*padding يعطي مسافات بكل الجوانب */